@media (max-width: 26em) {
  .features-box {
    max-width: 31rem;
  }

  .feature-heading,
  .powered-heading {
    font-size: 2.4rem;
  }

  .sub-heading {
    padding: 0;
  }

  .feature-cards {
    grid-template-columns: 1fr;
  }

  .feature-card {
    padding: 2.6rem 2.8rem;
  }

  .feature-title {
    margin-bottom: 0.6rem;
  }

  .feature-text {
    margin-bottom: 2.8rem;
  }

  .feature-supervisor-card,
  .feature-team-builder-card,
  .feature-karma-card,
  .feature-calculator-card {
    grid-column: auto;
    grid-row: auto;
  }
}
